<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="http://unpkg.com/vue"></script>
<link rel="stylesheet" href="./styles/style.css">

<div id="app">        
    <div class="card w-100" >
        <div id="div-principal" class="card-body">
            <div id="div-jogador" class="div-personagem">
                <span class="span-personagem">Jogador</span>
                <div class="div-barra-progresso">
                    <div class="progress-bar" :style="{width: jogador.vida + '%'}">{{jogador.vida}}%</div>
                </div>           
            </div>
            <div id="div-monstro" class="div-personagem">
                <span class="span-personagem">Monstro</span>
                <div class="div-barra-progresso">
                    <div class="progress-bar" :style="{width: monstro.vida + '%'}">{{monstro.vida}}%</div>
                </div>         
            </div>
        </div>
    </div>
    <div class="card w-100">
        <div id="div-principal" class="card-body">
            <div id="botoes-acoes-jogando" v-if="jogando">
                <button  class="btn btn-danger" @click="atacar">Ataque</button>
                <button class="btn btn-warning"  @click="ataqueEspecial">Ataque especial</button>
                <button class="btn btn-success" :disabled="jogador.vida === 100" @click="curar">Cura</button>
                <button class="btn btn-secondary" @click="desistir">Desistir</button>                
            </div>
            <div v-else>
                <p v-if="mensagemFimJogo">{{mensagemFimJogo}}</p>                
                <button class="btn btn-primary" @click="iniciarJogo">Iniciar novo jogo</button>
            </div>
        </div>
    </div>  
    <div class="card w-100 h-50" id="div-log">
        <div class="card-body" v-if="logs.length">
            <div v-for="log in logs" :key="log.descricao"
                     class="alert text-center text-uppercase font-weight-bold" 
                    :class="{'alert-danger': log.tipo === 'monstro', 'alert-primary': log.tipo === 'jogador', 'alert-success': log.tipo === 'cura' }">
                    {{log.descricao}}
            </div>            
        </div>
    </div>
</div>

<script src="./scripts/app.js"></script>
